sources/csharp/custom_sections/ConsoleApplication1/ConfigurationProject2/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="ConsoleApplication1" elementFormDefault="qualified" targetNamespace="ConsoleApplication1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="reportsSection" type="tns:ConsoleApplication1.ReportsSectionCT" />
	<xs:complexType name="ConsoleApplication1.ReportsSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="reports" type="tns:ConsoleApplication1.ReportsCT">
				<xs:annotation>
					<xs:documentation>The Reports.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ConsoleApplication1.ReportsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="report" type="tns:ConsoleApplication1.ReportCT">
				<xs:annotation>
					<xs:documentation>The Report Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ConsoleApplication1.ReportCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="sheets" type="tns:ConsoleApplication1.SheetsCT">
				<xs:annotation>
					<xs:documentation>The Sheets.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="xlsxTemplate" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The XlsxTemplate.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="emailTemplate" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The EmailTemplate.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="emailSubject" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The EmailSubject.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sendTo" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SendTo.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ConsoleApplication1.SheetsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="sheet" type="tns:ConsoleApplication1.SheetCT">
				<xs:annotation>
					<xs:documentation>The Sheet Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ConsoleApplication1.SheetCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
