sources/csharp/custom_sections/ConsoleApplication1/ConfigurationProject1/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="ConsoleApplication1" elementFormDefault="qualified" targetNamespace="ConsoleApplication1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="section" type="tns:ConsoleApplication1.SectionCT" />
	<xs:complexType name="ConsoleApplication1.SectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="collection01" type="tns:ConsoleApplication1.Collection01CT">
				<xs:annotation>
					<xs:documentation>The Collection01.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ConsoleApplication1.Collection01CT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="element" type="tns:ConsoleApplication1.Element01CT">
				<xs:annotation>
					<xs:documentation>The Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
